name: CI

permissions:
  contents: read

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0


      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: 1.22.5

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests and generate coverage
        run: go test -coverprofile=coverage.out ./...

        ## This step will only be executed if the actions variable CODECOV_BRANCHES
        ## is set as an array of branches to upload to Codecov. 
        ## Example --var CODECOV_BRANCHES='["main", "feature-1"]'
      - name: Upload coverage to Codecov
        if: ${{ contains(fromJson(vars.CODECOV_BRANCHES), github.ref_name)  }}
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          flags: unittests
          name: codecov-umbrella
          verbose: true
